name: Deploy to Environments

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]


jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - name: Setup Node.js
      uses: actions/setup-node@v4
      with:
        node-version: '18'

    - name: Run tests
      run: |
        echo "Running unit tests..."
        echo "Tests Passed!"

    - name: Lint code
      run: |
        echo "Linting code"
        echo "Linting passed!"

  deploy-staging:
    runs-on: ubuntu-latest
    needs: test
    if: github.event_name == 'pull_request'
    environment:
      name: staging
      url: https://staging.example.com
    steps:
    - uses: actions/checkout@v4

    - name: Deploy to staging
      run: |
        echo "Deploying to Staging Environment"
        echo "Branch: ${{ github.head_ref }}"
        echo "Commit: ${{ github.sha }}"
        echo "Succefully deployed to staging"

  deploy-production:
    runs-on: ubuntu-latest
    needs: test
    if: github.event_name == 'push' && github.ref == 'refs/heads/main'
    environment:
      name: production
      url: https://production.example.com
    steps:
    - uses: actions/checkout@v4

    - name: Deploy to production
      run: |
        echo "Deploying to Production Environment"
        echo "Commit: ${{ github.sha }}"
        echo "Successfully deployed to production!"
